body{
    background-color: rgb(0, 255, 115);
}
.pagina{
    background-image: url(cenario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    text-align: center;
}
#fotos{
    width: 100%;
    height: auto;
}
.pagina h1 img{
    width: 20%;
    height: 300px;
    float: left;
}